<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="net.minecrell.terminalconsole" shutdownHook="disable">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss} [%style{%highlight{%-5level}{STYLE=Logback}}] %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>